@font-face {
  font-family: 'Fenix';
  font-style: normal;
  font-weight: 400;
  src: local('Fenix'), local('Fenix-Regular'), url(http://fonts.gstatic.com/s/fenix/v4/c6Y-VhDabeO1oBJ8dG5vpA.woff) format('woff');
}
